<div *ngIf="collectionData && collectionData.length !== 0">
  <div class="col-sm-12">
    <div class="offset-sm-9 col-sm-3" style="display: flex;">
      <label class="offset-sm-5 col-sm-2">Sort by</label>
      <div class="col-sm-2 dropdown custom-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Relevance
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Kind of work</a>
          <a class="dropdown-item">Chronologically old > new</a>
          <a class="dropdown-item">Chronologically new > old</a>
          <a class="dropdown-item">Artist A > Z</a>
          <a class="dropdown-item">Artist z > A</a>
        </div>
      </div>
    </div>
      <!-- <div class="col-sm-3">
        <ng-multiselect-dropdown
          name="multiSelectDropdown" ngDefaultControl
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedMakers"
          (onSelect)="onMakerSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div> --> <!--Filter dropdown UI changes-->
  </div>
  
  <div class="custom-row">
    <figure *ngFor="let data of collectionData;" class="custom-column">
      <img src="{{data.webImage.url}}">
      <figcaption>
        <h5><a (click)="retrieveImgData(data)" style="cursor:pointer;">{{data.title}}</a></h5>
      </figcaption>
    </figure>
  </div>
</div>
<div *ngIf="collectionData && collectionData.length === 0">
  <h5 style="color: black;">No results found!!</h5>
</div>