.custom-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.custom-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.custom-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.custom-dropdown {
    margin-left: 12px;
    position: relative;
    top: -5px;
}

h5 > a:hover {
    text-decoration: underline;
}